@import 'reset-min.scss';
@import 'compass/css3';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.clear {
  clear: both;
}

h5 {
  font-size: 100%;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  color: #333;
  margin-bottom: 0.5%;
}

h6 {
  font-size: 90%;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 15px;
  color: #333;
  margin: 0.5% 0;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 30%;
  //background: dodgerblue;
  padding-top: 0.5%;
  .logo {
    display: block;
    margin: 5px auto;
    width: 68%;
    height: 50%;
  }

  p {
    font-size: 78%;
    letter-spacing: 1px;
    color: #555;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin: 0.5% 0;
  }
}

.nav {
  width: 100%;
  height: 20%;
  //background: red;

  .box {
    width: 23%;
    height: 100%;
    margin: 0 1%;
    float: left;
    border-top: 3px solid darkgoldenrod;
    background: #fff3cd;

    h4 {
      display: block;
      max-width: 60%;
      margin-left: 5%;
      margin-top: 5%;
      font-size: 165%;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      float: left;
    }

    h3 {
      display: block;
      max-width: 60%;
      font-size: 80%;
      margin-left: 5%;
      margin-top: 1%;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      font-weight: bold;

    }
  }
}

