/*
Copyright (c) 2011, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.9.0
*/
/* line 7, reset-min.scss */
/* line 8, reset-min.scss */
html {
  color: #000;
}

/* line 7, reset-min.scss */
/* line 13, reset-min.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 7, reset-min.scss */
/* line 19, reset-min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, reset-min.scss */
/* line 25, reset-min.scss */
fieldset, img {
  border: 0;
}

/* line 7, reset-min.scss */
/* line 30, reset-min.scss */
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

/* line 7, reset-min.scss */
/* line 35, reset-min.scss */
del, ins {
  text-decoration: none;
}

/* line 7, reset-min.scss */
/* line 40, reset-min.scss */
li {
  list-style: none;
}

/* line 7, reset-min.scss */
/* line 45, reset-min.scss */
caption, th {
  text-align: left;
}

/* line 7, reset-min.scss */
/* line 50, reset-min.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 7, reset-min.scss */
/* line 56, reset-min.scss */
q:before, q:after {
  content: '';
}

/* line 7, reset-min.scss */
/* line 61, reset-min.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 7, reset-min.scss */
/* line 67, reset-min.scss */
sup {
  vertical-align: baseline;
}

/* line 7, reset-min.scss */
/* line 72, reset-min.scss */
sub {
  vertical-align: baseline;
}

/* line 7, reset-min.scss */
/* line 77, reset-min.scss */
legend {
  color: #000;
}

/* line 4, style.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* line 10, style.scss */
.clear {
  clear: both;
}

/* line 14, style.scss */
h5 {
  font-size: 100%;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8px;
  color: #333;
  margin-bottom: 0.5%;
}

/* line 24, style.scss */
h6 {
  font-size: 90%;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 15px;
  color: #333;
  margin: 0.5% 0;
  font-weight: bold;
}

/* line 35, style.scss */
.header {
  width: 100%;
  height: 30%;
  padding-top: 0.5%;
}
/* line 40, style.scss */
.header .logo {
  display: block;
  margin: 5px auto;
  width: 68%;
  height: 50%;
}
/* line 47, style.scss */
.header p {
  font-size: 78%;
  letter-spacing: 1px;
  color: #555;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-weight: bolder;
  margin: 0.5% 0;
}

/* line 58, style.scss */
.nav {
  width: 100%;
  height: 20%;
}
/* line 63, style.scss */
.nav .box {
  width: 23%;
  height: 100%;
  margin: 0 1%;
  float: left;
  border-top: 3px solid darkgoldenrod;
  background: #fff3cd;
}
/* line 71, style.scss */
.nav .box h4 {
  display: block;
  max-width: 60%;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 165%;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
}
/* line 83, style.scss */
.nav .box h3 {
  display: block;
  max-width: 60%;
  font-size: 80%;
  margin-left: 5%;
  margin-top: 1%;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
